/*# for id's - can only go to one thing */
/*. for class's - can be used on my things */

/*GlOBALS*/
body {
	background-color: white;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

/*CLASSES*/

/*IDs*/

#navbar {
	overflow: hidden;
	background-color: #ddd;
}

#navbar a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#navbar a:hover {
	background-color: #d00027;
	color: black;
}

#navbar a.active {
	background-color: black;
	color: white;
}

#box {
	width: 100px;
	height: 100px;
	background: #00c897;
	padding: 10px;
	border: 2px solid #019267;
	top: 0px;
	left: 0px;
}

#content_wrapper {
	margin-left: 15px;
	margin-right: 15px;
}

#teamphoto {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}