/*# for id's - can only go to one thing */
/*. for class's - can be used on my things */

p{
    color: white;
    background: blue;
    font-style: italic;
}

#box{
    width: 100px;
    height: 100px;
    background: green;

}

body{
    background-color: aliceblue;
}